<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <bean id="country" class="org.arpit.java2blog.Country" autowire="constructor">
    <constructor-arg index="0" type="java.lang.String" value="India" />
 </bean>
<bean id="capital" class="org.arpit.java2blog.Capital">
  <property name="capitalName" value="Delhi" />
 </bean>
 
</beans>

